* {
  margin: 0;
  padding: 0;
}
.material-symbols-outlined {
  transform: scale(1.5);
  padding-right: 0.5vw;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 100vh;
}
#col-1 {
  grid-area: 1 / 1 / 7 / 2;
  background-color: teal;
  color: white;
  font-family: monospace;
  font-size: 1.5rem;
  padding: 2vh 0 0 2vw;
}
.menu {
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
}
.menu > span {
  padding-bottom: 20px;
}
.menu > span:hover,
.nav > button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#settings {
  padding-top: 100px;
}
#col-2 {
  grid-area: 1 / 2 / 7 / 7;
}
/* Search bar */
.search {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.search > input {
  background-color: lightgray;
  width: 40vw;
  height: 5vh;
  border-radius: 50px;
  border: none;
  padding-left: 20px;
  margin-right: 300px;
  font-size: 1.5rem;
}
.search > p {
  font-family: monospace;
  font-size: 1.5rem;
  margin-right: 50px;
  margin-left: 50px;
}
.avatar-placeholder {
  background-color: black;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: 50px;
}
/* Navigation */
.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10%;
  margin-bottom: 1%;
}
.nav-avatar-placeholder {
  background-color: black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 50px;
  margin-right: auto;
}
.nav > button {
  border: none;
  font-size: 1.5rem;
  width: 150px;
  height: 40px;
  border-radius: 50px;
  margin-left: 20px;
  margin-right: 50px;
  background-color: cadetblue;
  color: white;
}
/* Content section */

.content {
  font-family: monospace;
  background-color: lightgray;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  height: 80%;
}
.col-1,
.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  overflow: scroll;
  background-color: beige;
}
.col-1,
#projects {
  margin: 10px 0 0 30px;
}
.col-2,
#announcements {
  margin: 20px 30px 0 0;
}
#projects {
  grid-area: 1 / 1 / 1 / 2;
  font-size: 1.5rem;
}
#announcements {
  grid-area: 1 / 2 / 1 / 2;
  font-size: 1.5rem;
}
.article {
  height: 200px;
  background-color: black;
}
